{% load category_list %}
{% category_list as categories %}

<div class="card mb-3" style="width: 100%">
  <div class="card-header bg-secondary text-white">Categories</div>
  <ul class="list-group list-group-flush">
    {% for category in categories %}
    <!-- <li class="list-group-item"> -->
    <a class="list-group-item list-group-item-action {% if category.slug == request.path|slice:'15:' %}active{% endif %}"
      href="{% url 'category' categorySlug=category.slug %}">{{category.categoryName}}</a>
    <!-- </li> -->
    {% endfor %}
  </ul>
</div>